.frame {
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe {
  overflow: hidden;
  border-width: 0px;
  height: min(85vw, 85vh);
  width: min(85vw, 85vh);
}