.left {
  background-color: rgb(228, 230, 235);
  align-self: flex-start;
  margin: 1px;
  margin-left: 10px;
  border-radius: 13px;
  padding: 7px 12px 7px 12px;;
  font-size: 15px;
  color: black;
  word-wrap: break-word;
  max-width: 65%;
}

.right {
  align-self: flex-end;
  background-color: rgb(0, 132, 255);
  margin: 1px;
  margin-right: 10px;
  border-radius: 13px;
  padding: 7px 12px 7px 12px;;
  padding: 7px 12px 7px 12px;;
  font-size: 15px;
  color: white;
  word-wrap: break-word;
  max-width: 65%;
}

.container {
  width: min(460px, 90vw);
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 600px;
  border: 2px lightblue solid;
  border-radius: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.messagecontainer {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 74px);
  scrollbar-width: none;
  overflow: auto;
}

.title {
  align-self: center;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: bold;
}

.inputbox {
  outline: none;
  position: absolute;
  bottom: 0;
  align-self: center;
  width: calc(100% - 8px);
  margin-bottom: 4px;
  font-size: 15px;
  border-radius: 10px;
  text-indent: 8px;
  padding: 8px;
  padding-right: 0px;
  border-style: solid;
  border-color: darkgrey;
  border-width: 2px;
  background-color: white;
  font-weight: 400;
  color: black;
}

.bottom {
  clear: both;
  height: 50px;
}