.text {
  max-width: calc(100vw - 4em);
  max-height: 80vh;
  line-height: 1.01px;
  font-size: 18px;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-left: 2em;
  margin-right: 2em;
}

.text::selection{
  color: black;
  background: rgba(255, 255, 255, 0.01);
}